{% extends "layout.html" %} 
<!--
Use Jinja to embed code inside html
Jinja (Flask) is a templating language used in Python web frameworks
like Flask and Django to create dynamic web pages.
Alternatively, you can use Django templates.
-->


{% block content %}
    <h1>First Page</h1>
    
    Lorem ipsum odor amet, consectetuer adipiscing elit. 
    Malesuada erat aptent torquent aliquam vulputate sodales dui. 
    Phasellus potenti tellus vestibulum feugiat semper lobortis natoque potenti. 
    Natoque et fermentum interdum sem integer ullamcorper facilisi et enim. 
    Turpis nisl enim ipsum porttitor curae iaculis nascetur eleifend. 
    Gravida vitae luctus euismod nisi enim laoreet pulvinar? 
    Sit fusce sagittis sit ornare at.
    
{% endblock %}