{% extends "layout.html" %} 
<!--
Use Jinja to embed code inside html
Jinja (Flask) is a templating language used in Python web frameworks
like Flask and Django to create dynamic web pages.
Alternatively, you can use Django templates.
-->


{% block content %}
    <h1>Second Page</h1>
    
    Ultricies ultrices non; penatibus ullamcorper faucibus scelerisque. 
    Magna vehicula proin nunc ridiculus potenti. 
    Pharetra dictumst pharetra ut curae fermentum at dui parturient. 
    Penatibus at pellentesque malesuada, gravida torquent venenatis efficitur hac? 
    Maximus magna nisi mi cubilia dui vitae. 
    Vulputate vehicula est mus luctus fusce feugiat velit nascetur! 
    Aliquet lacus sed cursus; posuere ad morbi morbi. 
    Ullamcorper lorem magnis tempor elementum laoreet accumsan.
    
{% endblock %}