{% extends "layout.html" %} 
<!--
Use Jinja to embed code inside html
Jinja (Flask) is a templating language used in Python web frameworks
like Flask and Django to create dynamic web pages.
Alternatively, you can use Django templates.
-->


{% block content %}
    <h1>Third Page</h1>
    
    Donec pellentesque magna mus pulvinar tellus turpis dui. 
    Pulvinar at donec dis dapibus sit lectus. 
    acilisi egestas consequat potenti montes rhoncus dolor lorem. 
    Dictum laoreet consequat nunc; iaculis libero rutrum in. 
    Consequat nam aptent; phasellus iaculis vivamus et. 
    Aptent platea pharetra litora gravida volutpat est. 
    Iaculis aliquam tincidunt id metus ante at. 
    Eu dui malesuada diam scelerisque ligula congue risus. 
    Inceptos curabitur ut nibh, curae condimentum et?
    
{% endblock %}